

body{
	background-color: #efe7e3;
}

.frame{
	margin: 30px 150px;
	display: flex;
	flex-direction: column;
}


/* navigator bar*/

.navigator{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 15px;
}

.site-name{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 800;
	font-size: 25px;
	color: #c2b4ab;
	margin:0;
}

ul{
	margin: 0;
}

li{
	display:inline;
	align-self: center;
	margin: 0;
	margin-left: 15px;
	
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 600;
	font-size: 20px;
	
	color: black;
	
}


.site-name{
	margin: 0;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 24px;
	color: #c2b4ab;
}

.nav-menu{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 400;
	font-size: 14px;
}

a{
	color: black;
	text-decoration: none;
}

.nav-menu:hover{
	color: white;
	transition: 0.3s;	
}

/*dashboard*/

.dashboard{
	display: flex;
	flex-direction: column;
	margin-top: 60px;
}

.kr-comment{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 1500;
	font-size: 35px;
}

.sample{
	background-color: pink;
}

.sample:hover{
	background-color: transparent;
	color: white;ㅈ
	transition: none;
	-webkit-text-stroke: 1px black;
}

.highlight{
	color: white;
	transition: none;
	-webkit-text-stroke: 1px black;
}

.highlight:hover{
	background-color: pink;
	color: black;
	transition: none;
}


.type1:hover{
	background-color: yellowgreen;
}

.type2:hover{
	background-color: skyblue;
	
}

.type3:hover{
	background-color: orange;
}

.eng_comment{
	font-weight: 400;
	font-size: 15px;
	font-style:italic;
	
	letter-spacing: -0.3px;
}

/* RECENT WORKS*/

.recent-menu{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 15px;
	font-weight: 700;
	color: #c2b4ab;
	display: inline;
	align-self: flex-end;
	/* text-align:right; */
	margin-top: 40px;
}

/* FOOTER */
.work-footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	}

.contact{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 27px;
	font-weight: 700;
	
	color: #c2b4ab;
	
	/* margin-top: 40;*/
	border-top: 1px solid #c2b4ab;
	margin-bottom: 25px;
}

.contact-links{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 14px;
	font-weight: 500;
}

/* 화살표 왼쪽엔 부모태그, 오른쪽에는 자식태그가 온다, 자식태그에 가장 가까운 부모만 쓸 수 있다. 그 안에 있는 특정 자식 태그들을 한꺼번에 선택한다는 뜻. */

.contact-links>a{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 14px;
	font-weight: 500;
}

.contact-links>a:hover{
	color: white;
	font-size: 14px;
	font-weight: 500;
}


.work-footer>p{
	font-weight: 400;
	font-size: 12px;
	font-style:italic;
	
	color: dimgrey;
	letter-spacing: -0.3px;
	
	margin-bottom: 100px;
}

.profile-section{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	
	margin: 80px 80px;
}

#profile-picture{
	width: 300px;
	margin-right: 100px;
}


.introduction>h2{
	margin: 0px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 35px;
}


.introduction>p{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 300;
	font-size: 16px;
	
	margin-bottom: 40px;
}

#capability{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}


.cv-menu{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 35px;
	margin: 30px 100px;
	margin-top: 80px;
}

.cv-section{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	
	margin: 100px 150px;
	margin-top: 0px;
}

.value{
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
	align-items: center;
}


.value-icon{
	width: 100px;
	height: 100px;
	padding: 15px;
	border: 2px solid #c2b4ab;
	border-radious: 100px;
}

.value-name{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 700;
	margin-top: 40px;
	margin-bottom: 15px;
	
}

.value-exp{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 300;
	font-size: 16px;
	margin: 0;
	margin-top: 10px;
}



/* info footer */
.footer-comment{
	text-align: center;
}

/* RECENT WORKS*/
.recent-works{
	display: flex;
	align-items: flex-end;
	
	flex-direction: column;
	
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 800;
	font-size: 15px;
	color: #c2b4ab;
	margin-top: 100px;
}

#thumb1{
	width: 500px;
	height: 250px;
}

.thumbnail{
	width: 500px;
}

.article{
	display: flex;
	flex-direction: row;
	margin-bottom: 120px;
	align-items: center;
}

.article-info{
	margin: 0px 20px;
}


.article-name{
	display: flex;
	
	margin-left: 20px;
	margin-top: 0px;
	
	color: #000000;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 30px;
	
}

.article-comment{
	margin-left: 20px;
	margin-right: 20px;
	
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 16px;
	font-weight: 100;	
	color: #000000;
}

.more{
	width: content;
	height: content;
	float: right;
	
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 14px;
	
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0px;
	margin-right: 10px;
}

.name1{
	font-size: 50px;
	position: relative;
	right: 70px;
}

.name2-1{
	text-align: left;
	position: relative;
	left: 0px;
}

.name2-2{
	text-align: left;
	left: 0px;
	
	font-size: 20px;
}
